node_modules/
data/
.env
dist/
build/icon.ico

# Local Netlify folder
.netlify/
scratch/
Ready_To_Share_Apps/*.dmg
Ready_To_Share_Apps/*.zip
Ready_To_Share_Apps/*.exe
*.dmg
*.exe
macbook-desktop-app.zip
windows-desktop-app.zip
